- name: copy config files
  copy:
    src: "{{ item }}"
    dest: ~/{{ item }}
  with_items:
    - tmux.conf

- name: install basic packages
  become: yes
  package:
    state: latest
    name:
      - htop
      - nano
      - curl
      - wget
      - tmux
      - jq
      - cifs-utils
      - exfat-fuse
      - python3
      - cryptsetup
      - git
      - openssh-client
      - unrar
      - unzip
      - rpi-eeprom
      - cryptsetup-bin
      - open-iscsi
      - ncdu
      - smartmontools
      - libxml2-utils

- name: upgrade all packages
  become: yes
  apt:
    update_cache: yes
    upgrade: full
    force_apt_get: yes

# - name: Gather facts about active swap files
#   # We parse /proc/swaps to identify swap entries.
#   # $2 == "file" ensures we only identify actual files for later deletion.
#   # Partitions (Type "partition") are excluded here to ensure we don't try to delete device nodes.
#   become: yes
#   shell: |
#     cat /proc/swaps | awk '$2 == "file" {print $1}'
#   register: active_swap_files
#   changed_when: false

# - name: Disable all active swap (Files and Partitions)
#   command: swapoff -a
#   become: yes
#   # This command universally disables all swap forms immediately, including partitions.
#   when: ansible_swaptotal_mb > 0

# - name: Comment out swap entries in /etc/fstab
#   become: yes
#   replace:
#     path: /etc/fstab
#     # Regex explanation:
#     # ^\s* = Start of line (allow leading whitespace)
#     # ([^#].*?)   = Capture line content if it doesn't start with #
#     # \s+swap\s+  = Look for "swap" in the type column. This matches:
#     #               - /swapfile ... swap ...
#     #               - UUID=... ... swap ... (Partitions)
#     #               - /dev/sda2 ... swap ... (Partitions)
#     # .*$         = Match rest of line
#     regexp: '^\s*([^#].*?\s+swap\s+.*)$'
#     replace: '# \1'

# - name: Delete the actual swap files from filesystem
#   become: yes
#   file:
#     path: "{{ item }}"
#     state: absent
#   # We strictly loop over items identified as "file" type in step 1.
#   # Swap partitions are NOT in this list, so they are preserved on disk (just disabled).
#   loop: "{{ active_swap_files.stdout_lines }}"

# - name: Mask systemd swap target
#   become: yes
#   systemd:
#     name: swap.target
#     masked: true
#     enabled: false
#   ignore_errors: true
#   # Masking swap.target prevents systemd from automatically triggering swap units,
#   # which helps prevent auto-mounting of swap partitions on GPT disks.