- name: copy config files
  copy:
    src: "{{ item }}"
    dest: ~/{{ item }}
  with_items:
    - tmux.conf

- name: install basic packages
  become: yes
  package:
    state: latest
    name:
      - htop
      - nano
      - curl
      - wget
      - tmux
      - jq
      - cifs-utils
      - exfat-fuse
      - python3
      - cryptsetup
      - git
      - openssh-client
      - unrar
      - unzip
      - rpi-eeprom
      - cryptsetup-bin
      - open-iscsi
      - ncdu
      - smartmontools
      - libxml2-utils
      - nfs-common

- name: upgrade all packages
  become: yes
  apt:
    update_cache: yes
    upgrade: full
    force_apt_get: yes

- name: Ensure user is in sudo group
  become: yes
  user:
    name: "{{ ansible_user }}"
    groups: sudo
    append: yes

- name: specific sudoers configuration for {{ ansible_user }} (password required)
  become: yes
  copy:
    content: "{{ ansible_user }} ALL=(ALL) ALL"
    dest: /etc/sudoers.d/020_{{ ansible_user }}
    mode: "0440"
    validate: "visudo -cf %s"
