apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: cluster-space
  namespace: metallb-system
spec:
  addresses:
  - 192.168.1.201-192.168.1.254  # Specify your available IP range here
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: cluster-advertisement
  namespace: metallb-system
spec:
  ipAddressPools:
  - cluster-space